<header class="l-header">
	<div class="l-header__inner">
		<div class="l-header__left">
			<div class="l-header__logo">
				<img src="<%= path %>img/common/logo_dummy_140x85.png" alt="">
			</div>
		</div>
		<div class="l-header__right">
			<div class="l-header__btn">
				<a class="c-nav-trigger" id="js-nav-trigger">
					<span></span>
					<span></span>
					<span></span>
				</a>
			</div>
			<div class="l-header__menu">
				<ul class="l-header__menuList">
					<li class="l-header__menuItem"><a href="{{ url }}">メニュー１</a></li>
					<li class="l-header__menuItem"><a href="{{ url }}">メニュー２</a></li>
					<li class="l-header__menuItem"><a href="{{ url }}">メニュー３</a></li>
					<li class="l-header__menuItem"><a href="{{ url }}">メニュー４</a></li>
					<li class="l-header__menuItem"><a href="{{ url }}">メニュー５</a></li>
					<li class="l-header__menuItem"><a href="{{ url }}">メニュー６</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
