/*=======================================================

	変数設定

========================================================*/


// デザインカンプサイズ(px)
/*========================================================*/
$design-pc: 1920;
$design-sp: 750;



// font-family
/*========================================================*/
$font-base: "Hiragino Sans", "Hiragino Kaku Gothic Pro", sans-serif;


// カラー
/*========================================================*/
$color-white: #fff;
$color-black: #000;

// 各セクション
$color-header: #C4D4E9;
$color-footer: whitesmoke;


// z-index
/*========================================================*/
// header
$z-header: 10;
$z-headerMenu: 10;
$z-headerTrigger: 100;
